= stylesheet_link_tag "grid"

%h1 Tayuan Mo Ako Please (TMAP)

%div#lands
  %div.row
    %div.land
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
  %div.row
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
  %div.row
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
  %div.row
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
    %div.land 
      = link_to "x", "#"
