- model_class = Inquiry
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:x)
      %th= model_class.human_attribute_name(:y)
      %th= model_class.human_attribute_name(:classification)
      %th= model_class.human_attribute_name(:lon)
      %th= model_class.human_attribute_name(:lat)
      %th= model_class.human_attribute_name(:land_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @inquiries.each do |inquiry|
      %tr
        %td= link_to inquiry.id, inquiry_path(inquiry)
        %td= inquiry.email
        %td= inquiry.x
        %td= inquiry.y
        %td= inquiry.classification
        %td= inquiry.lon
        %td= inquiry.lat
        %td= inquiry.land_id
        %td=l inquiry.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_inquiry_path(inquiry), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), inquiry_path(inquiry), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_inquiry_path, :class => 'btn btn-primary'
