= semantic_form_for @inquiry do |f|
  = f.inputs do
    = f.semantic_fields_for :answers do |a|
      = a.input :answer, as: :radio, label: "#{a.object.question.question}"
      = a.input :question_id, as: :hidden
  = f.submit
